html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

html {
    font-size: 62.5%;
    font-family: 'DM sans';
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #040704;
    background-image: url(./img/candado-cerrado_verde_1.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

header {
    color: #ffffff;
    width: 100%;


}

.container__header {
    height: 15rem;
    width: 100%;
    
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.header__title {
    font-size: 6rem;
    font-weight: bold;
    margin-left: 1.5rem;
    text-align: center;
    color: #ffffff;
}
.section__h2 {
    color: #ffffff;
    font-size: 4rem;
    text-align: center;
}


.logo {
    width: 10%;
}

#logo__img {
    width: 100%;
}

.tex__area {
    background: #ddeae0 ;
    width: 50rem;
    font-size: 2.5rem;
    box-shadow: -2px 2px 22px 8px rgba(75,194,115,1);
    

}

.form__card {
    margin: 1.2rem 0 1rem 0 ;
}

.out-text {
    background: #b5dabe ;
    width: 50rem;
    height: 20rem;
    font-size: 2rem;
    box-shadow: -2px 2px 22px 8px rgba(75,194,115,1);
}

.encrip__button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 15rem;
    height: 3rem;
    background: #43eb6a ;
    color: #000;
    font-size: 1.5rem;
    border: none;
    border-radius: 1rem;
   cursor: pointer;
    
}
.encrip__button:hover {
    background-color: #92e095}

.encrip__button:active {
  
  box-shadow: -2px 2px 22px 8px rgba(75,194,115,1);
  transform: translateY(1px);
}

.button__right {
    
    display: flex; 
    justify-content: flex-end;   

}

.conten__modul {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    align-content: center;
    
}